<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset = "ISO-8859-1"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    </head>
<body>
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th th:text="ID"></th>
                <th th:text="Name"></th>
                <th th:text="Surname"></th>
                <th th:text="Age"></th>
                <th th:text="Action"></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="student:${students}">
                <tr>
                    <td th:text="${student.id}" ></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.surname}"><</td>
                    <td th:text="${student.age}"></td>
                    <td>
                        <form   th:action="@{/}" method="post">
                            <input type="text" hidden  th:name="id" th:value="${student.id} ">
                            <button type="submit" name="action" value="delete" class="btn btn-danger" th:text="Del" ></button>
                        </form>
                    </td>
                </tr>
            </div>
                <tr >
                    <form th:action="@{/}" method="post" th:object="${formStudent}" >
                        <td colspan="5">
                            <input type="text" th:field="*{name}" placeholder="Enter name">
                            <input type="text" th:field="*{surname}" placeholder="Enter surname">
                            <input type="number" th:field="*{age}" placeholder="Enter age">
                            <input type="submit" value="Add">
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>